@media (max-width: 1366.98px)
  .container
    padding: 0 30px
  .title
    padding: 0 15px
  .header__cart-info
    margin-left: 0
  .slider-arrow
    &_prev
      left: 0
    &_next, .product-list .slider-arrow_next
      right: 0
  .product-list .slider-arrow_prev
    left: -30px
  .product-list .slider-arrow_next
    right: -30px
  .product-list
    &__bottom
      justify-content: center
      flex-wrap: wrap
      height: 90px
    &__price-wrp
      width: 100%
      height: 70px
      text-align: center
  .header__search
    max-width: 45%
  .header__cart
    flex: 0 0 28%
    max-width: 28%
  .top-nav__link
    font-size: 16px
  .product
    &__info
      width: 51%
      margin-left: 10px
    &__img
      width: 47%
      img
        width: 100%
@media (max-width: 1199.98px)
  .header__search
    max-width: 100%
  .header__cart
    flex: auto
    max-width: 84%
  .news
    &__active-info
      width: 70%
  .top-contacts
    justify-content: center
    width: 100%
    margin: 15px auto
    &__hide
      left: 0
      right: 0
      margin: 0 auto
  .header
    &__wrapper
      justify-content: space-between
    &__cart
      justify-content: flex-end
      padding-right: 15px
      margin-top: 20px
    &__cart-price
      margin-right: 20px
    &__currency
      margin-top: 20px
  .product-list
    &__bottom
      flex-wrap: wrap
      height: auto
  .footer
    &__list
      margin-bottom: 30px
  .news-list
    &__item
      height: auto
    &__description
      height: auto
  .alphabet
    &__wrapper
      justify-content: center
  .catalog
    &__info
      padding-left: 40px
      &-item
        flex-wrap: wrap
      &-price
        margin-top: 15px
      &-btn
        margin-top: 20px
  .feedback
    &__input
      width: 32%
  .product
    &__info
      width: 100%
      margin-left: 0
    &__img
      width: 100%
      img
        width: 100%
  .cart__header_title
    font-size: 16px
  .order__info
    position: relative
    margin-bottom: 50px
@media (max-width: 991.98px)
  .title
    height: auto
  .breadcrumbs
    &__wrapper
      flex-wrap: wrap
  .top-bar
    &__logo
      margin: 0 auto 15px
  .top-nav
    margin: 0 auto 15px
  .news
    &__active-info
      width: 60%
  .product-list
    &__item
      margin-left: 30px
    &__slider
      margin-left: -15px
  .product-list .slider-arrow_prev
    left: -10px
  .product-list .slider-arrow_next
    right: -40px
  .main-text
    &__content
      margin-top: 60px
  .footer
    &__contacts
      margin-top: 30px
    &__akticom
      justify-content: center
      margin-top: 30px
    &__logo
      margin-bottom: 15px
  .news-list
    &__item
      width: 32%
  .catalog
    &__info
      &-title
        height: auto
        margin-bottom: 20px
@media (max-width: 767.98px)
  .title
    font-size: 35px
  .banner
    &__title
      font-size: 35px
      line-height: 1
      -webkit-background-size: contain
      background-size: contain
  .about
    &__item
      margin-bottom: 40px
  .main-text
    .title
      height: auto
      -webkit-background-size: contain
      background-size: contain
    &__content
      margin-top: 0
  .product-list
    &__title
      height: auto
  .footer
    &__list-wrapper
      padding: 0
    &__list
      order: 1
    &__payment
      order: 3
      padding: 0
    &__contacts
      order: 2
      margin-top: 0
      margin-bottom: 30px
      padding: 0
    &__logo
      max-width: 50%
      margin-bottom: 30px
    &__copyright-text
      padding-left: 0
  //header
  .top-bar
    padding: 0

    .container
      padding: 0 15px
    &__nav
      display: none
    &__logo
      display: none
  .top-contacts
    padding: 0
    margin: 0
    &__email
      display: none
    &__phone-wrapper
      width: 100%
      background-color: #f5f5f5
      padding: 30px 15px
    &__hide
      width: 90%
  .header
    display: none
  .mobile-header
    display: flex

  // news
  .news
    display: none
  .mobile-news
    display: block
  .news-list
    &__item
      width: 100%
  .page-news__title
    height: auto
  .pagination
    &__wrapper
      flex-wrap: wrap
      margin-top: 20px
      justify-content: center
    &__arrow
      margin: 15px 0
    &__numbers
      flex-wrap: wrap
      justify-content: center
      text-align: center
    &__btn
      margin-right: 0
  .catalog
    &__item
      flex-wrap: wrap
      justify-content: center
    &__img
      width: 100%
  .feedback
    &__input
      width: 100%
  .fixed
    &__arrow
      display: none
  .page-news__pagetitle
    margin-bottom: 20px
  .modal-form
    &__title
      height: auto
  .product
    &__info
      flex-wrap: wrap
      &-item
        width: 100%
    &__details
      width: 100%
      margin-top: 30px
      border-top: 1px solid #AFAFAF
      padding-top: 20px
    &__stock
      width: 100%
    &__count
      flex-wrap: wrap
      justify-content: center
      &-input input
        margin-top: 20px
  .input-count__btn
    top: 45%
  .news-inner
    &__img
      margin-bottom: 30px
  .news-navigation
    &__wrapper
      justify-content: center
    &__link
      margin-bottom: 20px
      &_top
        order: 1
  .contacts
    &__info
      max-width: 100%
      flex: 0 0 100%
    &__map
      max-width: 100%
      width: 100%
      flex: 0 0 100%






